.game-container{
  width: 65vw;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: aliceblue;
  font-family: "Poppins";
}
.game-img{
  height: 400px;
  background:
	url(../../img/bannerMobile.svg) center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.game-img h6{
  margin-top: 150px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.game-content{
  margin-left: 20px;
}
.game-content h3{
  margin-top: 100px;
}
.game-content button{
  border: none;
  background-color: rgb(24 15 119);
  border-radius: 30px;
  color: white;
  padding: 10px 40px;
  margin-top: 20px;
}
.game-content button:hover{
  background-color: rgb(34, 21, 171);
}

.G-options{
  background:
	linear-gradient(#f4f4f473,#f4f4f473),
    linear-gradient(#f4f4f473,#f4f4f473),	
	url(../../img/photo-1534237710431-e2fc698436d0.jpg) center center;
  margin-top: 50px !important;
  background-color: aliceblue;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 0 30px;
  text-align: center;
  /* border: 3px solid rgb(124, 16, 50); */
}
.game-options p{
 color: rgb(34, 21, 171);
 font-size: 20px;
font-weight: 500;
 margin-top: 80px
}