.container{
  font-family: 'Poppins', sans-serif;
  color: gray;
}
.search-container{
  display: flex;
}
.title{
  color: rgb(0, 159, 227);
}
.searchInput{
  width: 650px;
  margin: auto;
  position: relative;
  padding: 10px 20px;
  border-radius: 30px;

}
.search-container button{
  position: absolute;
  margin-left: 835px;
  background-color: rgb(0, 159, 227);
  border: 1px solid rgb(0, 159, 227);
  padding: 10px 40px;
  color: rgb(255, 255, 255);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.search-container button:hover{
  background-color: rgb(0, 148, 212);
}

.another-search-link {
  margin-top: 15px;
}
.another-search-link a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  margin: 0px 10px;
  font-size: 14px;
  font-weight: 500;
}
.another-search-link a:hover {
  color: rgb(0, 159, 227);
}

.Dao-text{
  color: rgb(0, 159, 227);
}
.Dao-text h5{
  font-weight: 500;
}
